@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
    width: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; 
    border-radius: 20px; 
  }

  *::-webkit-scrollbar-track{
    background: transparent;
  }


.nav-options-open {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .nav-options-closed {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    pointer-events: none;
  }

  .mask{
    mask: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%)
  }

  .animate-scroll {
    animation: scroll 5s infinite linear;
  }

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }



  @keyframes scroll {
    0% {
      transform: translateX(30%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  